body{

}

.div0{
	width: 95%;
	margin: 3%;
}

.div1{
	width: 100%;
	margin: 30px 0px;
}

.div1 a{
	padding: 8px 13px;
	color: black;
	font-size: 20px;
	font-weight: 500;
	text-decoration: none;
	border: 0.5px solid black;
}

.div1 a:hover{
	color: white;
	background-color: black;
}

.div1 button{
	font-size: 25px;
	padding: 5px;
}


.div2{
	padding: 20px auto;
	color: white;
	margin: 1px auto;
}

.div2 table{
	width: 100%;
}

.div2 thead tr th{
	font-size: 22px;
	font-weight: 600;
	background-color: ;
	text-align: center;
	background-color: rgba(0, 0, 0, 0.2);
}

.div2 tbody tr td{
	font-size: 18px;
	font-weight: 400;
	padding: 5px;
	text-align: center;
	background-color: rgba(0, 0, 0, 0.08);
}

.div2 a{
	text-decoration: none;
	width: 90px;
	background-color: ;
	padding: 4px 6px;
	font-size: 18px;
	font-weight: 500;
	float: left;
	color: black;
	margin: 5px auto;
	border: 0.5px solid black;
	border-radius: 0.25pc;
	background-color: rgba(0, 0, 0, 0.06);
}

.div2 a:hover{
	background-color: rgba(0, 150, 80, 0.3);
}

.div2 input{
	width: 90px;
	background-color: ;
	padding: 4px 8px;
	font-size: 18px;
	font-weight: 500;
	color: black;
	cursor: pointer;
	margin: 5px auto;
	border: 0.5px solid black;
	border-radius: 0.25pc;
	background-color: rgba(0, 0, 0, 0.06);
}

.div2 input:hover{
	background-color: rgba(250, 30, 20, 0.9);
}

.div1 form{
	float: right;
}

.div1 form input{
	padding: 8px;
	width: 250px;
	outline: none;
	font-size: 18px;
	color: black;
	font-weight: 450;
}